@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*{
    margin: 0;
    padding:0;
    font-family: "Inria Sans", sans-serif;
    font-style: italic;
}
body{
    background-color: #363636;
}
nav{
    display: flex;
    align-items: center;
    padding: .5rem;
    background-color: #000000;
}
.nome_do_site{
    font-family: inri;
    font-size: 2rem;
    margin-left: .6rem;
}
#logo {
    height: 4rem;
}
.Titulo_do_site{
    font-size: 2.5rem;
    margin-left:1rem;
    color: #FF0000;
}
#pesquisa{
    height: 2rem;
    border-radius: 20rem;
    margin-left: 1.5rem;
    width: 15rem;
    background-color: aliceblue;
}
#pesquisa::placeholder{
    font-family: Jaro;
    padding-left: 2rem;
    font-weight: bold;
}
#filtro{
    width: 10rem;
}
h2{
    display: flex;
    flex-wrap: wrap;
    margin: 2rem 0;
    font-size: 2rem;
    font-family: jaro;
    margin-left: 2rem;
}
.box{
    display:inline-block;
    font-size: 1.5rem;
    margin-inline: 4rem;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1rem;
}
#img{
    height: 10rem;
}
.iten{
    display:inline-block;
    margin-inline:2.5rem;
    color: white;
}
.container-box{
    display: flex;
}
.link{
    color: black;
    align-items: center;
    text-decoration: none;
}
footer{
    position:fixed;
    bottom: 0;
    margin-right: 0;
    width: 100%;
}
.fundo{
    height: 30rem;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 3rem;
    width: 100rem;
    justify-content: center;
}
.Sub-titulos{
    font-weight: bold;
    font-size: 1rem;
}
.text{
    margin-left: 2.5rem;
    margin-bottom: 2rem;
}
h3{
    font-size: 3rem;
}
.assistir{
    display: flex;
    align-items: center;
    background-color: #FF0000;
    width: 240px;
    height: 30px;
}
#assistir{
    margin-left: 1rem;
}
.sem-trailer img{
    height: 30rem;
}
.sem-trailer{
    align-items: center;
    width: 100%;
    display:flex;
    justify-content: center;
    margin-top: 1rem;
    height: 30rem;
}
#navBaixo{
    color: white;
}